.rootContainer {
    max-width: 1100px;
    margin: auto;
}

.rootAdminActive {
    max-width: none;
}

.ratingContainer {
    display: flex;
    height: 32px;
    max-width: 1100px;
    justify-content: flex-end;
    align-items: center;
    padding: 0 30px;
    overflow: hidden;
}

.rightStar,
.wrongStar {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.btnStartGame {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0;
    right: 10px;
    bottom: 10px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    background-color: #00bf9a;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.btnStartGame img {
    width: 70%;
    transform: rotateY(185deg);
}

.btnStartGame:hover {
    transform: translateY(-1px);
}