aside {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: left;
  height: 100vh;
  width: 350px;
  margin-left: -350px;
  background: linear-gradient(180deg, #0099ae 0%, #00bf82 100%);
  transition: 0.4s;
}

.activeAside {
  margin-left: 0px;
}

.activePage {
  text-decoration: underline;
}

.containerMenu {
  color: white;
  font-size: 24px;
  overflow: auto;
}

.containerMenu li {
  margin-top: 15px;
  list-style-type: none;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.btnItemLogin {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  left: 40px;
  width: 200px;
  padding: 10px 0;
  background-color: transparent;
  color: white;
  font-size: 20px;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 40px;
}

.btnItemLogin:hover {
  background-color: #ffffff59;
}
