.categoryPage {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.categoryCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 15px;
  margin-inline: 15px;
  width: 300px;
  height: 260px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 65%,
    rgba(0, 186, 150, 1) 65%,
    rgba(11, 167, 186, 1) 100%
  );
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  cursor: pointer;

  .cat-imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;
    border: 10px solid #fff;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    img {
      display: flex;
      width: 100%;
      height: 100%;
    }
  }
}

.activePlay {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 65%,
    rgba(255, 134, 83, 1) 65%,
    rgba(255, 29, 18, 1) 100%
  );
}
