.statisticksPage {
    width: fit-content;
    margin: 0 auto;
}

.headerTable {
    background-color: #dbdbdb;
    cursor: pointer;
    color: #393939;
}

.statisticksPage table {
    display: flex;
    margin-top: 10px;
    table-layout: fixed;
}

.statisticksPage table th,
.statisticksPage table td {
    width: fit-content;
    overflow: hidden;
    text-align: center;
    font-size: 22px;
    padding: 0 5px 0 5px;
}

.statisticksPage table tr:nth-child(2n + 1) {
    background-color: #dbdbdb;
}